@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    background-color: #f9f9f9;
    padding: 25px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 48px;
    font-weight: 500;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.localizacao{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.localizacao h2{
    font-size: 24px;
    font-weight: 500;
}

.localizacao iframe{
    max-width: 600px; 
    max-height: 450px;
    margin: 15px 0;
}

.localizacao p{
    max-width: 600px;
    
}

form{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
form #name, #menssagem, #email{
    margin: 10px 0;
    border-radius: 15px;
    padding: 15px;
}

form #botao{
    padding: 10px;
    border-radius: 10px;
    background-color: #282828;
    color: azure;
    border: none;
    width: 90px;
}

